{% extends "application/layout.html" %}

{% block page_title %}{{ serviceName }} - Start{% endblock %}

{% block c_content %}

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  <h1 class="form-title heading-large">
    When did you start providing 35 hours of care a week?
  </h1>

  <form action="confirmclaimdate" method="post" class="form" id="theForm">
        <fieldset class="form-group">
      <p class='hint-text'>This means any time you look after the person you care for personally and includes things like cooking meals or helping them with their shopping.</p>
      <label class="block-label" for="radio-yes" data-target="startdate">
        <input id="radio-yes" type="radio" name="radio-inline-group" value="three">
        In the last 3 months
      </label>
      <label class="block-label" for="radio-no" data-target="startdate">
        <input id="radio-no" type="radio" name="radio-inline-group" value="six">
        In the last year
      </label>
      <label class="block-label" for="radio-long">
        <input id="radio-long" type="radio" name="radio-inline-group" value="longer">
        Over a year ago
      </label>
    </fieldset>
    <!-- <p>Most claims can be backdated 3 months. You may be able to <a href="#">backdate it further</a> if the person you care for was awarded a backdated qualifying benefit in the last 3 months.</p>
    <details>
      <summary><span class="summary">Backdating more than 3 months</span></summary>
      <div class="panel-indent">
        <p>If the person has been awarded a backdated qualifying benefit in the last 3 months you can claim Carer's Allowance from the date their benefit started.</p>
        <h3>For example</h3>
        <p>You start to care for someone (35 hours or more) on January 1, 2016.</p>
        <p>They apply for Attendance Allowance in February, and are given the benefit in March, backdated to January 15.</p>
        <p>You apply for Carer's Allowance in May.</p>
        <p>Your claim can be backdated to January 15, even though it's more than 3 months ago, as:</p>
        <ul class>
          <li>you were caring for them at the time</li>
          <li>they should have been receiving Attendance Allowance at the time</li>
        <p>
      </div>
    </details>
    -->
    <fieldset  class="form-group js-hidden panel" id="startdate">
      <legend class="heading-medium" style="margin-bottom:5px">What date did you start providing 35 hours of care a week?</legend>
      <!-- <p>For example, 08 4 2014.</p> -->
      <div class="form-date">
        <div class="form-group form-group-day">
          <label for="dob-day">Day</label>
          <input type="text" class="form-control" id="dob-day" name="work-dob-day">
        </div>
        <div class="form-group form-group-month">
          <label for="dob-month">Month</label>
          <input type="text" class="form-control" id="dob-month" name="work-dob-month">
        </div>
        <div class="form-group form-group-year">
          <label for="dob-year">Year</label>
          <input type="text" class="form-control" id="dob-year" name="work-dob-year">
        </div>
      </div>
    </fieldset>

    <fieldset class="primary-nav form-group">
      <input type="submit" value="Continue" class="button" id="submitButton"/>
    </fieldset>

  </form>

{% endblock %}

{% block page_script %}{% endblock %}
