{% extends "application/layout.html" %}

{% block page_title %}{{ serviceName }} - Start{% endblock %}

{% block c_content %}

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  <h1 class="form-title heading-large">
    When do you want {{ serviceName }} to start?
  </h1>

  <form action="aboutyou" method="post" class="form" id="theForm">

    <p>Most claims can be backdated 3 months. You may be able to <a href="#">backdate it further</a> if the person you care for was awarded their qualifying benefit in the last 3 months.</p>

    <fieldset class="form-group">
      <legend class="heading-medium" style="margin-bottom:5px">Claim date</legend>
      <!-- <p>For example, 08 4 2014.</p> -->
      <div class="form-date">
        <div class="form-group form-group-day">
          <label for="dob-day">Day</label>
          <input type="text" class="form-control" id="dob-day" name="work-dob-day">
        </div>
        <div class="form-group form-group-month">
          <label for="dob-month">Month</label>
          <input type="text" class="form-control" id="dob-month" name="work-dob-month">
        </div>
        <div class="form-group form-group-year">
          <label for="dob-year">Year</label>
          <input type="text" class="form-control" id="dob-year" name="work-dob-year">
        </div>
      </div>
    </fieldset>

    <fieldset class="form-group inline">
      <legend class="heading-medium">Were you caring for this person for more than 35 hours a week before this date?</legend>
      <label class="block-label" for="radio-yes" data-target="no-target">
        <input id="radio-yes" type="radio" name="radio-inline-group" value="Yes">
        Yes
      </label>
      <label class="block-label" for="radio-no">
        <input id="radio-no" type="radio" name="radio-inline-group" value="No">
        No
      </label>
    </fieldset>

    <fieldset class="form-group js-hidden panel" id="no-target">
      <h2 class="heading-medium" style="margin-bottom:5px">When did you begin caring?</h2 >
      <div class="form-date">
        <div class="form-group form-group-day">
          <label for="dob-day">Day</label>
          <input type="text" class="form-control" id="dob-day" name="work-dob-day">
        </div>
        <div class="form-group form-group-month">
          <label for="dob-month">Month</label>
          <input type="text" class="form-control" id="dob-month" name="work-dob-month">
        </div>
        <div class="form-group form-group-year">
          <label for="dob-year">Year</label>
          <input type="text" class="form-control" id="dob-year" name="work-dob-year">
        </div>
      </div>
    </fieldset>

    <fieldset class="primary-nav form-group">
      <input type="submit" value="Continue" class="button" id="submitButton"/>
    </fieldset>

  </form>

{% endblock %}

{% block page_script %}{% endblock %}
