{% extends "application/layout.html" %}
{% block page_title %}{{ serviceName }} - Start{% endblock %}
{% block c_content %}
<!-- BACK LINK -->
<p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

  <h1 class="form-title heading-large">Can you get Carer's Allowance?</h1>

  <form action="eligibility-2" method="POST" role="form">
    <fieldset class="form-elements form-eligibility">
      <legend class="form-label-bold">What benefit does the person you care for get?</legend>
        <p class="form-hint">Don't include any benefits they've applied for if they haven't got a decision yet.</p>
        <label class="block-label" for="benefitsAnswer_PIP">
          <input type="radio" id="benefitsAnswer_PIP" name="benefitsAnswer" value="PIP">
          <span>Personal Independence Payment (PIP) daily living component</span>
        </label>

        <label class="block-label" for="benefitsAnswer_DLA">
          <input type="radio" id="benefitsAnswer_DLA" name="benefitsAnswer" value="DLA">
          <span>Disability Living Allowance (DLA) - middle or highest care rate</span>
        </label>

        <label class="block-label" for="benefitsAnswer_AA">
          <input type="radio" id="benefitsAnswer_AA" name="benefitsAnswer" value="AA">
          <span>Attendance Allowance (AA)</span>
        </label>

        <label class="block-label" for="benefitsAnswer_CAA">
          <input type="radio" id="benefitsAnswer_CAA" name="benefitsAnswer" value="CAA">
          <span>Constant Attendance Allowance (CAA)</span>
        </label>

        <label class="block-label" for="benefitsAnswer_AFIP">
          <input type="radio" id="benefitsAnswer_AFIP" name="benefitsAnswer" value="AFIP">
          <span>Armed Forces Independence Payment (AFIP)</span>
        </label>

        <label class="block-label" for="benefitsAnswer_NONE" data-target="answerNoMessageWrap">
          <input type="radio" id="benefitsAnswer_NONE" name="benefitsAnswer" value="NONE">
          <span>None of these benefits</span>
        </label>

    </fieldset>

    <div id="answerNoMessageWrap" class="error-summary js-hidden">
      <p>You'll only get Carer's Allowance if the person you care for gets one of these benefits.</p>
    </div>

    <br />
    <nav class="form-steps" role="navigation" style="margin-top:20px;">
      <button type="submit" name="action" value="next" class="button">Continue  </button>
    </nav>

  </form>
{% endblock %}
{% block page_script %}{% endblock %}
