{% extends "application/layout_govuk.html" %}

{% block c_content %}

  <h1 class="form-title heading-xlarge"> Apply for Carer's Allowance</h1>

  <!-- INTRO NAVIGAITON -->

      <nav class="intro-nav">
        <ol>
          <li class="font-xsmall">
            <span class="part-number">1.</span>
            <span>How it works</span>
          </li>
          <li class="font-xsmall">
            <span class="part-number">3.</span>
            <a href="intro3" title="Part 3: Effect on other benefits">Effect on other benefits</a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">2.</span>
            <a href="intro2" title="Part 2: Eligibility">Eligibility</a>
          </li>
          <li class="active font-xsmall">
            <span class="part-number">4.</span>
            <a href="intro4" title="Part 4: Apply">Apply</a>
          </li>
          <!--
          <li class="font-xsmall">
            <span class="part-number">2.</span>
            <a href="intro2" title="Part 2: Eligibility">Eligibility</a>
          </li>
        -->
        </ol>
      </nav>

  <!-- CONTENT -->
  <div class="intro-content">
  	<h1 class="heading-medium">1. How it works</h2>
  	<p>You can apply for Carer's Allowance if you care for someone for 35 hours a week.</p>

  <p>You could get £62.10 a week if you care for someone at least 35 hours a week and they get <a href="/carers-allowance/eligibility">certain benefits</a>.</p>

<p>You don’t have to be related to, or live with, the person you care for.</p>
<div class="panel-indent" style="margin-bottom:30px !important">
<p>Carer’s Allowance can affect the <a href="/carers-allowance/effect-on-other-benefits">other benefits that you and the person you care for get</a>. You have to pay tax on it if your income is over the <a href="/income-tax-rates">Personal Allowance</a>.</p>
</div>
<p>You won’t be paid extra if you care for more than one person.</p>

<div class="panel-indent" style="margin-bottom:30px !important">
<p>This guide is also available <a href="/lwfans-gofalwr">in Welsh (Cymraeg)</a>.</p>
</div>
<h2 class="heading-medium">How you’re paid</h2>

<p>You can choose to be paid:</p>

<ul class="list-bullet">
  <li>weekly in advance</li>
  <li>every 4 weeks</li>
  <li>every 13 weeks</li>
</ul>

<p>It will be paid <a href="/how-to-have-your-benefits-paid">into an account</a>, eg your bank account.</p>

<h2 class="heading-medium">What else you can get</h2>

<p>For each week you get Carer’s Allowance you’ll automatically get <a href="/boost-state-pension">National Insurance credits</a>.</p>

<p>You may also be able to apply for <a rel="external" href="http://www.nhs.uk/Conditions/social-care-and-support-guide/Pages/carers-assessment.aspx">support from your local council</a> and a <a href="/council-tax-reduction">Council Tax Reduction</a>.</p>


  <nav class="intro-next">
    <a href="intro2" rel="next" title="Navigate to next part">Next<span class="pagination-part-title">Eligibility</span></a>
  </nav>

{% endblock %}
