{% extends "application/layout_govuk.html" %}

{% block c_content %}

  <h1 class="form-title heading-xlarge">Apply for Carer&rsquo;s Allowance</h1>

      <nav class="intro-nav">
        <ol>
          <li class="font-xsmall">
            <span class="part-number">1.</span>
            <a href="/" title="Part 1: How it works"><span>How it works</span></a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">3.</span>
            <a href="intro3" title="Part 3: Effect on other benefits">Effect on other benefits</a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">2.</span>
            <a href="intro2" title="Part 2: Eligibility">Eligibility</a>
          </li>
          <li class="active font-xsmall">
            <span class="part-number">4.</span>
            <span>Apply</span>
          </li>
          <!--
          <li class="font-xsmall">
            <span class="part-number">2.</span>
            <a href="intro2" title="Part 2: Eligibility">Eligibility</a>
          </li>
        -->
        </ol>
      </nav>

  <div class="intro-content">
    <h2 class="heading-medium">4. Make a claim</h2>
    <h2 class="heading-small">You will need</h2>
    <p>Before you apply make sure you have:</p>
    <ul class='list list-bullet'>
      <li>both you and your partner’s National Insurance number (if they have one)</li>
      <li>your bank or building society details</li>
    </ul>
    <p>You also need details of the person you care for. You need their:</p>
    <ul class='list list-bullet'>
      <li>their date of birth and address</li>
      <li>their National Insurance number or Disability Living Allowance reference</li>
      <li>the date their claim for PIP or DLA started, if it was less than 3 months ago</li>      
    </ul>
    
    <h2 class="heading-small">If you’re studying or working</h2>
    <p>You will also need your:</p>
    <ul class='list list-bullet'>
      <li>employment details including dates and how much you were paid</li>
      <li>course details if you’re studying</li>
      <li>latest payslip, or P45 if you’ve recently finished work</li>
    </ul>

    <p>You can backdate your claim by up to 3 months.</p>
    
    <p><a href="eligibility" class="button button-get-started">Apply now</a></p>
    
    <br />
    
    <p>The application will reset if you don’t do anything for more than 90 minutes - you’ll have to restart your application.</p>
    
    <h2 class="heading-small">Other ways to apply</h2>
    
    <p>If you can’t apply online, you can <a href="/government/publications/carers-allowance-claim-form">apply by post</a>. The address to send your application to is at the end of the form.</p>
    
    <h2 class="heading-small">Appeal a decision</h2>
    
    <p>You can <a href="/social-security-child-support-tribunal">appeal to the Social Security and Child Support Tribunal</a> if you disagree with a decision. You must usually <a href="/social-security-child-support-tribunal/before-you-appeal">ask for ‘mandatory reconsideration’</a> before you appeal.</p>
  </div><!-- .intro-content -->
  
  

  <nav class="intro-next">
    <a href="intro3" class="first" rel="next" title="Navigate to previous part">Previous<span class="pagination-part-title">Effect on other benefits</span></a>
  </nav>

{% endblock %}
