{% extends "application/layout_govuk.html" %}

{% block c_content %}

  <h1 class="form-title heading-xlarge">Apply for Carer's Allowance</h1>


      <nav class="intro-nav">
        <ol>
          <li class="font-xsmall">
            <span class="part-number">1.</span>
            <a href="/" title="Part 1: How it works"><span>How it works</span></a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">3.</span>
            <span>Effect on other benefits</span>
          </li>
          <li class="font-xsmall">
            <span class="part-number">2.</span>
            <a href="intro2" title="Part 2: Eligibility">Eligibility</a>
          </li>
          <li class="active font-xsmall">
            <span class="part-number">4.</span>
            <a href="intro4" title="Part 4: Apply">Apply</a>
          </li>
          <!--
          <li class="font-xsmall">
            <span class="part-number">2.</span>
            <a href="intro2" title="Part 2: Eligibility">Eligibility</a>
          </li>
        -->
        </ol>
      </nav>

  <div class="intro-content">
	  <h2 class="heading-medium">3. Effect on other benefits</h2>

  <p>Carer’s Allowance can affect the other benefits that both you and the person you care for get.</p>

<h2 class="heading-medium">Effect on the benefits of the person you care for</h2>

<p>When you claim Carer’s Allowance, the person you care for will stop getting:</p>

<ul class='list-bullet'>
  <li>a <a href="/disability-premiums-income-support">severe disability premium</a> paid with their benefits</li>
  <li>an extra amount for severe disability paid with Pension Credit, if they get one</li>
  <li>Reduced Council Tax - contact their <a href="/find-your-local-council">local council</a> to find out if this affects them</li>
</ul>

<h2  class="heading-medium">Effect on your benefits</h2>

<p>When you claim Carer’s Allowance your other benefits may be reduced, but your total benefit payments will usually either go up or stay the same.</p>

<p>The <a href="/benefit-cap">benefit cap</a> limits the amount of benefit that most people aged 16 to 64 can get. Some individual benefits aren’t affected, but it may affect the total amount of benefit you get.</p>

<p>If you get Working Tax Credit or Child Tax Credit, you must contact the <a href="http://www.gov.uk/contact/hm-revenue-customs/tax-credits-enquiries">Tax Credits office</a> to tell them about Carer’s Allowance claim.</p>

<div role="note" aria-label="Information" class="panel-indent">
<p>Use a <a href="/benefits-calculators">benefits calculator</a> to work out how your other benefits will be affected.</p>
</div>


  </div>

 	<nav class="intro-next">
 		<a href="intor2" class="first" rel="next" title="Navigate to previous part">Previous<span class="pagination-part-title">Eligibility</span></a>
    <a href="intro4" rel="next" title="Navigate to next part">Next<span class="pagination-part-title">Apply</span></a>
  </nav>

{% endblock %}
