{% extends "application/layout_govuk.html" %}

{% block c_content %}

  <h1 class="form-title heading-xlarge">Apply for Carer's Allowance</h1>

      <nav class="intro-nav">
        <ol>
          <li class="font-xsmall">
            <span class="part-number">1.</span>
            <a href="/" title="Part 1: How it works"><span>How it works</span></a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">3.</span>
            <a href="intro3" title="Part 3: Effect on other benefits">Effect on other benefits</a>
          </li>
          <li class="font-xsmall">
            <span class="part-number">2.</span>
            <a href="intro2" title="Part 2: Eligibility">Eligibility</a>
          </li>
          <li class="active font-xsmall">
            <span class="part-number">4.</span>
            <span>Apply</span>
          </li>
          <!--
          <li class="font-xsmall">
            <span class="part-number">2.</span>
            <a href="intro2" title="Part 2: Eligibility">Eligibility</a>
          </li>
        -->
        </ol>
      </nav>

  <div class="intro-content">
    <h2 class="heading-medium">4. Apply</h2>

    <h2 class="heading-medium">You will need</h2>
    <p>Before you apply make sure you have:</p>
    <ul class='list-bullet'>
      <li>your National Insurance number, and your partner's if you have one</li>
      <li>the date of birth and address of the person you’re caring for</li>
      <li>details of any employment you've had in the last 6 months</li>
      <li>details of any self-employed income you've had</li>
      <li>your bank or building society details so you can be paid the money</li>
    </ul>
    <p>The application will reset if you don’t do anything for more than 90 minutes - you’ll have to restart.
    </p>

    <p><a href="start" class="button button-get-started">Apply now</a></p>
  </div><!-- .intro-content -->

  <nav class="intro-next">
    <a href="intro3" class="first" rel="next" title="Navigate to previous part">Previous<span class="pagination-part-title">Effect on other benefits</span></a>
  </nav>

{% endblock %}
