{% extends "application/layout.html" %}

{% block page_title %}{{ serviceName }} - Start{% endblock %}

{% block c_content %}

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  <h1 class="form-title heading-large">
    Your income - self-employment costs
  </h1>
  <form action="additionalwork" method="post" id="theForm">
      <p>The costs of running your business (such as work materials you need or transport) don't count as your personal income. This can mean you qualify for Carer's Allowance even if your business makes more than £110 a week.</p>

      <div class="grid-row">
        <div class="form-group-compound list-item-wrapper">
          <h2 class="heading-medium">Business costs</h2>
          <p class='form-hint'>List all the costs of running your business including, for example if you've bought a van you could put both the cost of buying it and the weekly cost of running it.</p>
          <fieldset>
            <div class="column-one-third no-padding">
              <div class="form-group list-item">
                <label class="form-label" for="field-1">
                  Item
                </label>
                <input type="text" class="form-control" id="field-1" name="field-1">
              </div>
            </div>

            <div class="column-one-third no-padding">
              <div class="form-group list-item">
                <label class="form-label" for="field-2">
                  Cost
                </label>
                <input type="text" class="form-control" id="field-2" name="field-2">
              </div>
            </div>

            <div class="column-one-third no-padding">
              <div class="list-item">
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="form-group">
            <button id="add-button" class="button button-add-another">Add another</button>
          </div>
        </div>
      </div>
    </fieldset>

    <!-- More than one? -->
    <fieldset class="primary-nav form-group">
      <input type="submit" value="Continue" class="button" id="submitButton"/>
    </fieldset>

  </form>

{% endblock %}

{% block page_script %}

    {% endblock %}
