{% extends "application/layout.html" %}

{% block page_title %}{{ serviceName }} - Start{% endblock %}

{% block c_content %}

  <!-- BACK LINK -->
  <p class="back-link"><a href="javascript:history.go(-1);">Back</a></p>

	<!-- HEADING -->
  <h1 class="form-title heading-large"> Before you start </h1>

  <p>When you claim Carer's Allowance the person you care for may stop getting:</p>
  <ul class="list list-bullet">
    <li>a severe disability premium paid with their benefits, if they get one</li>
    <li>an extra amount for severe disability paid with Pension Credit, if they get one</li>
    <li>reduced Council Tax, if their <a href="#">local council</a> offers it
  </ul>
  <!--
  <p>This is because this extra money is meant to pay for the care you're giving. The overall amount of the person's benefit plus your Carer's Allowance will usually stay the same or go up.</p>
  <p>Most people aren't paid , but if you're not sure you may want to check whether this applies to the person you care for before applying.</p>
  -->
  
  <p>You can read more about <a href="intro3">how Carer's Allowance affects other benefits</a>.

  <p>You must tell the person you care for before you claim.</p>

  <form action="thirdParty" method="post" class="form" id="theForm">

    <fieldset class="primary-nav form-group">
      <input type="submit" value="This is OK - start my application" class="button" id="submitButton"/>
    </fieldset>

  </form>

{% endblock %}

{% block page_script %}{% endblock %}
