{% extends "application/layout.html" %}

{% block page_title %}{{ serviceName }} - Start{% endblock %}

{% block c_content %}

  <!-- HEADING -->
  <div class="completion">
    <h1 class="form-title heading-large" id="complete">Your application has been received</h1>
    <p>Your reference number is: <b style="font-weight:700">KJSAD8D</b></p>
  </div>

  <h2 class="heading-medium">What happens next?</h2>

  {# <p>You'll usually get a decision on your claim within 4 weeks - it may take longer if you don't give us the required information</p> #}
  
  <p>You'll usually get a decision within 4 weeks - it will be disallowed if you don't send the required documents.</p>

  {# <div class="box">
    <h3 class="heading-small">What you need to do next</h3>
    <p>To complete your application you must now give details of the money that came in and out of your business.</p>
    <p>An email has been sent to you, asking you to provide these details.</p>
    <p>Make sure you include your name and National Insurance number in your reply.</p>
  </div> #}

  <p>You may be able to get additional support as a carer from your local council - <a href="#">read about carers' assessments</a>.</p>

  <p><a href="#">What did you think of this service?</a></p>

{% endblock %}

{% block page_script %}{% endblock %}
